html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  #cv {
    border: 1px solid black;
    float: left;
  }

  #rightpanel {
    float: right;
    padding: 20px;
  }

  #header {
      text-align: center;
  }

  table {
      width: 100%;
  }

  td {
    padding: 5px;
    border: 1px dotted black;
    width: 50%;
  }